.mlink{
    color: hsl(0, 79%, 34%);
  }

.mlink:hover{
    color: black;
}
.rdtab{
    background-color: hsl(0, 79%, 34%);
    color: white;
    border-radius: 7px;
    border: none;
}

.yllwtab{
    background-color: hsl(43, 94%, 55%);
    color: white;
    border-radius: 7px;
    border: none;
}

.yllwtxt{
    color: hsl(43, 94%, 55%);
}

.rdtxt{
    color: hsl(0, 79%, 34%);
}

body {
    font-family: 'Poppins', sans-serif;
  }
  
.rdtab:hover, 
.yllwtab:hover, 
.grybtn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    color: white;
}

.card-img-top {
    height: 600px;
    object-fit: cover;
}

.top_vieww{
    height: 800px;
    object-fit: cover;
}

.grybtn{
    background-color: hsl(0, 0%, 52%);
    color: hsl(0, 79%, 34%);
    border-radius: 7px;
    border: none;
}